<h1> Edit your product details </h1>

<%= form_tag("/products/#{@products.id}", method: "patch") do %>
    <!-- <div>
      <%= label_tag(:name) %>
      <%= text_field_tag(:name, @products.name) %>
    </div>

    <div>
      <%= label_tag(:price) %>
      <%= text_field_tag(:price, @products.price) %>
    </div>

    <div>
      <%= label_tag(:image) %>
      <%= text_field_tag(:image, @products.image) %>
    </div>

    <div>
      <%= label_tag(:description) %>
      <%= text_field_tag(:description, @products.description) %>
    </div> -->
    <%= render 'form' %>
      <%= submit_tag("Edit Product") %>
<% end %>
