<h1> Hogwarts School Supplies Shop </h1>

<div class="row products-index"
  <% @products.each do |product| %>
    <a href="/products/<%= product.id %>"
      <h3> <li>  <%= product.name %></a> </li> </h3>
      <li> $<%= product.price %></li>
      <li> <%= product.description %> </li>
      <img src= <%= product.image %>
    </a>
  <% end %>
  </div>

  <div>
    <h4> <%= link_to "Create a New Product", "/products/new" %> </h4>
  </div>
