<h1> Hogwarts School Supplies Shop </h1>

  <h1> <%= @products.name %></h1>


  <hl> <%= @products.sale_message %> </h3>
  <li> Price $<%= @products.price %> </li>
  <li> Description <%= @products.description %> </li>
  <li> Categories:
      <% @products.categories.each do |category| %>
            <li> <%=category.name%> </li>
          <% end %>

  <li> <%= @products.sale_message %></li>
  <li> Tax: $<%= @products.tax %></li>
  <li> Total: $<%= @products.total %></li>
     <img src="<%= @products.image %>">


<%= form_tag('/carted_products', method: :post) do  %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>

  <div>
    <p> Product ID: <%= label_tag (@products.id) %> </p>
    <%= text_field_tag :product_id, @products.id %>
  </div>
  <%= submit_tag "Add to Cart!" %>
<% end %>

<% if current_user && current_user.admin %>
  <h4> <%= link_to "Edit Your Product", "/products/#{@products.id}/edit"%> </h4>
  <h4> <%=link_to "Back to all products", "/products"%> </h4>
  <p> <%= link_to "Delete", "/products/#{@products.id}", method: "delete"%> </p>
<% end %>
